.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.title {
  font-weight: 900;
  font-size: 96px;
  text-align: center;
  margin: auto;
  width: 90%;
  word-wrap: break-work;
}

.titleText {
  display: inline-block;
}

.subtitle {
  text-align: center;
  text-decoration: line-through;
  font-style: italic;
  opacity: 50%;
  padding-top: 1rem;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

.greatLine {
  position: absolute;
  margin-left: -5rem;
  margin-top: -0.5rem;
}
